@media screen and (min-width: 500px) {
    header {
        background-color: #000000;
        color: #ffffff;
        width: 100%;
        text-align: left;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        width: 100%;
        text-align: left;
    }
}