
header, footer {
    display: grid;
    align-items: center;
    background-color: #011863;
    font-family: 'Roboto';
}

body {
    max-width: 499px;
    margin: 0 auto;
    background-color: #ffd755de;
}

.heroPic {
    max-width: 499px;
    width: 100%;
    justify-self: center;
    position: absolute;
}

header {
    position: relative;
}

#mode {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    padding: 1rem;
}

header h1, header h2 {
    position: relative;
    color: #fff;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    justify-self: center;
}

header h1 {
    top: 30px;
    font-family: 'lora';
}

header h2 {
    top: 10px;
}

nav {
    background-color: #011863;
    position: relative;
    top: 30px;
    max-width:100%;
    display: flex; 
}

nav ul{
    list-style-type: none;
    width: 400px;
}


nav li a {
    color: #fff;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ffffff00; 
}

nav ul :hover {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .active {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}

#myButton {
    font-size: 1rem;
    background: #011863;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: center;
    color: #ffffff;
    padding: .5rem ;  

}

#myButton::before {
    content: "\2630";
}

#myButton.open::before{
    content: "x";
}

#myButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menuLinks {
    display: none;
}

.menuLinks.open {
    display: block;
    max-width: 483px;
    position: absolute; 
    top: 18px; 
    background-color: #011863;
    padding: .5rem;
    text-align: center;
}

.menuLinks.open li{
    padding: .5rem;
}

.joinButtonContainer {
    position: relative;
    justify-self: center;
    top: 20px
}

.joinButton {
    padding: 10px 20px;
    background-color: #011863;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
}

.joinButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.purpose {
    margin-top: 50px;
}

section{
    background-color: #fff;
    margin-top: .5rem;
    border-radius: 10px;
    }

h3 {
    color: #012b63;
    padding: 0.5rem;
    font-family: 'Roboto';
}

h4, .events p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.knowmore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #011863;
    margin: 1.5rem;
}

.posts {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    max-width: 899px;
    width: 100%;
}

.member-card:hover {
    transform: scale(0.97); 
    filter: brightness(95%); 
}

.member li {
    list-style-type: none;
    padding: 1rem;
    text-decoration: none; 
    border: solid 1px #011863;
    border-radius: 10px;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.posts:hover {
    transform: scale(0.97); 
    filter: brightness(70%); 
}

.posts h4 {
    margin-top: .5px;
    padding-top: .5px;
    color: #011863;
}

.posts a {
    color: black;
    text-decoration: none;
}

.posts li:hover {
    background-color: #00000036; 
    cursor: pointer;
}

.welcome p {
    background-color: #fff;
    margin-top: .5rem;
    border-radius: 10px;
    margin-top: 3rem ;
    
}

.sidebar p {
    padding: .7rem;
    text-align: justify;
}

.demography {
    margin-top: 1rem ;
}

.calendar {
    margin-bottom: 1rem;
}

.calendar {
    text-align: center; 
}

.calendar iframe {
    display: block; 
    margin: 0 auto; 
    padding-bottom: 1rem;
    max-width: 499px;
    width: 100%;
}

.pictures {
    width: 100%;
    max-width: 499px;
    margin: 0 auto; 
    display: block;
    
}

.pictures picture {
    flex: 1 0 auto; 
    margin-bottom: .5rem; 
}

.pictures img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.image-caption {
    padding-bottom: 1rem;
    text-align: center;
}

footer {
    display: grid;
    justify-items: center;
    padding: 1rem;
    color: #fff;
}

footer img, .footer1{
    grid-row: 1;
}

footer img {
    justify-items: right;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer1 {
    grid-column: 1/4;
    padding-left: 2rem;
}

.footer2 {
    grid-row: 2;
    grid-column: 1/5;
}

.footer3 {
    grid-row: 3;
    grid-column: 1/5;
}

.footer4 {
    grid-row:  4;
    grid-column: 1/5;
}


/* Join */

form {
    padding-bottom: .5rem;
}

.thanks {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.thanks h2 {
    text-align: center;
}

.join {
    background-color: #fff;
    margin: .25rem;
    margin-top: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    display: block;
}

.join legend, .join label {
    display: block;
    padding: .5rem;
}

fieldset {
    border-radius: 10px;
    margin-top: 1rem;
}

.applicant input{ 
    max-width: 490px;
    width: 100%;
}

.member input[type="radio"]{
    margin-right: 6px;
}

.join input[type="submit"] {
    padding: 10px 50px;
    background-color: #011863;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    margin: 1rem auto; 
    display: block; 
}

.membershipOp {
    margin-top: 2.2rem;
}

.membershipOp figure {
    background-color: #fff;
    margin: .3rem;
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.membershipOp img {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    max-width: 200px;
    width: 100%;
    height: auto;
}

.membershipOp figcaption{
    text-align: center;
}

.membershipOp li {
    text-align: left;
    font-size: 0.9em;
}

/* Directory*/
.menuMembers {
	text-align: center;
    max-width: 899px;
    width: 100%;
}

.selected {
    background-color: #ddd; }

.button {
    background-color: #fff; 
}

#grid, #list {
    justify-content: right;
	padding: .5rem;
	font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;    
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.grid #membersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    max-width: 499px;
    width: 100%;
}

.grid .member-card {
    width: 300px;
    padding: 1rem;
    border: solid 1px #011863;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: auto;
    margin-bottom: .5rem;
}

.membership {
    font-weight: bold;
    background-color: #ffd755de;
    border-radius: 10px;
    padding: 5px;
}

#membersList.list .member-card img {
    display: none;
}

.list .member-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    height: 100%;
    border: solid 1px #011863;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9);
    margin-bottom: .5rem;
}

.list .member-card p{
    margin: 10px;
}

.list .member-card h3{
    margin: 1px;
}


/* weather: */

.weather {
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 499px;
    width: 100%;
}

.weather p {
    padding: 1px;
}

#forecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 499px;
    width: 100%;
    margin: 10px auto;
}

#day1, #day2, #day3 {
    display: flex;
    align-items: center;
    text-align: center;
    border: solid 1px #ffd755de;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    max-width: 429px;
    width: 90%;
    padding-left: .5rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

/* Banner */
.banner {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none; 
    border: solid 1px #011863;
    box-shadow: 2px 4px 8px #011863;
    position: relative;
}

.close-banner {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}







