
header, footer {
    display: grid;
    align-items: center;
    background-color: #ffd54b;
    display: grid;
}

body {
    width: 499px;
    margin: 0 auto;
}

img[alt="Ribeirao Preto"] {
    width: 499px;
    justify-self: center;
    position: absolute;
}

header h1, header h2 {
    position: relative;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

header h1 {
    top: 18px;
    left: 45px;
}

header h2 {
    top: 5px;
    left: 20px;
}

nav {
    background-color: #011863;
    position: relative;
    display: flex;
    top: 8px;
    width: 499px;
    margin: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}

h3{
    color: #012b63;
}