
header, footer {
    display: grid;
    align-items: center;
    background-color: #011863;
    font-family: 'Roboto';
}

body {
    max-width: 499px;
    margin: 0 auto;
    background-color: #ffd755de;
}

img[alt="Ribeirao Preto"] {
    max-width: 499px;
    justify-self: center;
    position: absolute;
}

header h1, header h2 {
    position: relative;
    color: #fff;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
    justify-self: center;
}

header h1 {
    top: 60px;
    font-family: 'lora';
}

header h2 {
    top: 25px;
}

nav {
    background-color: #011863;
    position: relative;
    top: 30px;
    max-width: 499px;
    margin: 0;
    display: flex;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

#myButton {
    font-size: 1rem;
    background: #011863;
    border: none;
    cursor: pointer;
    width: 44px;
    text-align: center;
    color: #ffffff;
    padding: .5rem ;   
}

#myButton::before {
    content: "\2630";
}

#myButton.open::before{
    content: "x";
}

#myButton:hover {
    background-color: rgba(255, 255, 255, 0.8);  /* não esta funcionando*/
}

.menuLinks {
    display: none;
}

.menuLinks.open {
    display: block;
    max-width: 483px;
    position: absolute; 
    top: 10px; 
    align-content: space-between;
    background-color: #011863;
    padding: .5rem;
    text-align: center;
}

.menuLinks.open li{
    padding: .5rem;
}

.joinButtonContainer {
    position: relative;
    justify-self: center;
    top: 20px
}

.joinButton {
    padding: 10px 20px;
    background-color: #011863;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.purpose {
    margin-top: 50px;
}

section{
    background-color: #fff;
    margin-top: .5rem;
    border-radius: 10px;
    }

h3 {
    color: #012b63;
    padding: 0.5rem;
    font-family: 'Roboto';
}

h4, .events p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

.knowmore {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #011863;
}

.weather {
    display: grid;
    margin-top: 1.4rem;
}

.weather img {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
    align-self: center;
}

.weather p {
    grid-row: 2;
    justify-self: left;
    align-self: center;
}

.member div {
    background-color: #fff;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
}

.member li {
    list-style-type: none;
    padding: 2rem;
    text-decoration: none; 
}

.posts a {
    color: black;
    background-color: #fff;
    padding: 1rem;
    margin: 10px; 
    border-radius: 10px;
    box-shadow: 0 0 10px #011863;
}

.post li:hover {
        background-color: rgba(0, 0, 0, 0.8); /* não esta funcionando*/
    }


footer {
    display: grid;
    justify-items: center;
    padding: 1rem;
    
    color: #fff;
}

footer img, .footer1{
    grid-row: 1;
}

footer img {
    justify-items: right;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer1 {
    grid-column: 1/4;
    padding-left: 2rem;
}

.footer2 {
    grid-row: 2;
    grid-column: 1/5;
}

.footer3 {
    grid-row: 3;
    grid-column: 1/5;
}

.footer4 {
    grid-row:  4;
    grid-column: 1/5;
}

