@media screen and (min-width: 500px) {

header, footer {
    width: 100%;
}

#myButton {
    display: none;
}

img[alt="Ribeirao Preto"] {
    justify-self: right;
}

header, main, body, footer {
    max-width: 900px;
}

header {
    height: 246px;
}

header h1 {
    top: 25px;
    justify-self: left;
    font-family: 'lora';
    padding-left: 5rem;
}

header h2 {
    top: 5px;
    justify-self: left;
    padding-left: 4rem;
}

.joinButtonContainer {
    justify-self: left;
    padding-left: 7rem;
}

.joinButton {
    background-color: #fff;
    color: #011863;
}


.menuLinks {
    display: flex;
    max-width: 856px;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding-right: 2rem;
}

.menuLinks nav {
    background-color: #011863;
    position: relative;   
}

.menuLinks li{
    list-style-type: none;
    padding: .5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.forLarger {
    display: flex;
}

.events {
    max-width: 650px;
    margin-right: 1.5rem;
}

.weather{
    height: 200px;
    padding-right: 1rem;
    padding-bottom: 2.5rem;
}


.posts ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

footer {
    display: grid;
    justify-items: center;
    max-width: 868px;
    color: #fff;
}

footer img, .footer1{
    grid-row: 1;
}

.footer1 {
    grid-column: 1/4;
    padding-left: 2rem;
}

.footer2, .footer3, .footer4 {
    grid-row: 2;
}

.footer2 {
    grid-column: 1;
}

.footer3 {
    grid-column: 2/3;
    padding-left: 6rem;
}

.footer4 {
    grid-column: 4;
}
}