@media screen and (min-width: 500px) {

header, footer {
    width: 100%;
}

#myButton {
    display: none;
}

img[alt="Ribeirao Preto"] {
    justify-self: right;
}

header, main, body, footer {
    max-width: 900px;
}

header {
    height: 246px;
}

header h1 {
    top: 25px;
    justify-self: left;
    font-family: 'lora';
    padding-left: 5rem;
}

header h2 {
    top: 5px;
    justify-self: left;
    padding-left: 4rem;
}

.joinButtonContainer {
    justify-self: left;
    padding-left: 7rem;
}

.joinButton {
    background-color: #fff;
    color: #011863;
}

nav {
    background-color: #011863;
    position: relative;
    display: flex;
    top: 23px;
    width: 499px;
    margin: 0;
    
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

footer {
    display: grid;
    justify-items: center;
    padding: 1rem;
    
    color: #fff;
}

footer img, .footer1{
    grid-row: 1;
}

footer img {
    justify-items: right;
    padding-right: 2rem;
    padding-left: 2rem;
}

.footer1 {
    grid-column: 1/4;
    padding-left: 2rem;
}

.footer2, .footer3, .footer4 {
    grid-row: 2;
}

.footer2 {
    grid-column: 1;
}

.footer3 {
    grid-column: 2/3;
    padding-left: 6rem;
}

.footer4 {
    grid-column: 4;
}

}