#myButton {
    font-size: 1.5rem;
    background: #000000;
    border: none;
    cursor: pointer;
    width: 8%;
    text-align: center;
    color: #fff;
    padding: .15rem ;
    grid-column: 2;
}

head, body {
    justify-content: center;
}

header, main, body, footer {
    max-width: 499px;
    margin: 0 auto;
}

header {
    align-items: center;
    background-color: #362983;
    display: grid;
    padding: .5rem;
}

header image {
    grid-column: 1;
}

header h1 {
    grid-column: 2;
    color: #fff;
    text-decoration: none;
}

nav ul {
    display: none;
    align-items: center;
}

nav ul.open {
    display: block;
}

nav {
    background-color: #000000;
}

nav ul{
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

nav .active {
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
}


nav .inactive:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.learning-activities , .information{
    margin: 4px;
    border: 1px solid #362983;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.information{
    text-align: center;
    }

h1 {
    text-align: center;
}

h2 {
    background-color: #362983;
    color: white ;
    text-align: center;
}

footer {
    background-color: #362983;
    padding: .5rem;
}

footer p {
    color: #fff;
    text-align: center;
}